#front img { 
    max-height: 200px;
    max-width: 200px;
  }

#back img { 
    max-height: 200px;
    max-width: 200px;
  }
#left img { 
    max-height: 200px;
    max-width: 200px;
  }
#right img { 
    max-height: 200px;
    max-width: 200px;
  }


.right p{
      margin-top: 30px; font-family: Times, serif;font-size: 20px;
  }
.right h2{
         margin-top: 30px;
     }

#linkcenter{
  margin-top: -4px;
}

@media(max-width:767px){
      .hide {
          display: none !important; 
      }
     .right{
          margin-left:10px;
          margin-right: 0px;
         width: 390px;
         margin-top: 5px;
         margin-bottom: 5px;
         height: 300px;
     }
      nav ul li:hover ul{
  display: none;
}
      header nav ul li {
 font-size: 15px;
}
     #front img { 
    min-height: 100px;
    min-width: 200px;
  }
      #back img { 
    min-height: 100px;
    min-width: 200px;
  }
      #left img { 
    min-height: 100px;
    min-width: 200px;
  }
      #right img { 
    min-height: 100px;
    min-width: 200px;
  }
    
     
     #2back { display: none;}
  #2left { display: none;}
  #2right { display: none;}
     
     #services{
         margin-top: 100px;
         margin-right: 40px;
     }
     #slider{
         margin-top: -19px;
        
     }
     .carousel-item  img{
  max-height: 200px;
}
     #services col-4 ,
     #services col-4 ,
     #services col-4 {
         float: none;
         width: 100%;
         margin-right: 50px;
     }
     .col-md-6 .center{
         margin-left: 10px;
     }
     #myBtn{
         height: 30px;
         }
     .servi .profile{
        height: 200px;
         margin-top: 30px;
     }
     .high .profile{
         margin-top: -190px;
     }
     .low .profile{
         margin-top: -100px;
         margin-bottom:  5px;
     }
     #maindiv{
         margin-left: 5px;
         margin-bottom: 10px;
     }
     #3d{
         height: 1000px;
     }
     #maindiv{
         padding-left: 70px;
         margin-top: 35px;
         margin-bottom: 30px;
     }
     .button{
         margin-left: -600px;
         margin-top: -80px;
         margin-bottom: 30px;
     }
     .right{
         margin-top: 10px;
         min-height: 400px;
     }
     .serv{
         margin-top: -140px;
     }
     
     .res{
         float: none;
         width: 100%;
         margin-right: 400px;
     }
      header .logo {
  margin-left: -10px;
}
     #services .row{
         margin-right: 50px;
     }
     .show{
         margin-right: -100px;
         margin-top: 160px;
         display: inline-block;
     }
     #linkcenter{
         
         margin-top: 0px;
         line-height: 30px;
         
     }
     #linkright{
         float: none;
         width: 100%;
         margin-top: -30px;
         margin-left: -70px;
        
     }
     .low{
         float: none;
        margin-left: 8px;
         margin-top: 5px;
     }
     .fullwidth{
         margin-top: -80px;
     }
     .wrapper{
         margin-top: 50px;
         background-position: center;
         height: 300px;
     }
     #maindiv{
         margin-top: -20px;
          height: 100px;
     }
     #boxdiv div{
         height: 100px;
         font: 40px impact;
        
     }
     #res .col-md-4{
         margin-left: -103px;
     }
     
     

     . raj owl-carousel{
         margin-top: -50px;
     }
     .demo{
         margin-top: -100px;
     }
     .test{
         margin-top: 110px;
     }
     #part{
         margin-top: -30px;
     }
     #part img{
         margin-top: 20px;
     }
      .item .rounder{
         height: 210px;
        
     }
     .sir{
         font-size: 25px;
     }
     .title{
          font-size: 25px;
     }
     .aa span{
         
        display: none !important;
         margin-top: -20px;
     }
     .d-block img-fluid{
         max-height: 300px;
     }
     #front img{
         max-height: 20px;
         max-width: 100px;
        
     }
      #back img{
         max-height: 20px;
         max-width: 100px;
        
     }
     #left img{
         max-height: 20px;
         max-width: 100px;
        
     }
     #right img{
         max-height: 20px;
         max-width: 100px;
        
     }
   

  }
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #F4F7F6;
    width: 100%;
    
overflow-x: hidden;
   float: none;
    max-width: 100%;
    margin-right: 5px;
     background-attachment: fixed;
               background-position: center;
}
.container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #f1f1f1;
    
    box-sizing: border-box;
    min-height: 700px;
    margin-right: 5px;
}
.show{
    margin-left: -30px;
}

.1container{
    position: relative;
   
     box-sizing: border-box;
    max-width: 100%;
    margin-right: 5px;
}
#header {
    background: #EEEEEE;
    height: 40px;
    width: 100%;
}

#linkright {
    width: 20%;
    height: 50px;
    float: right;
}

#linkright ul {
    list-style-type: none;
    margin-right: 80px;
}

#linkright ul li {
    
    float: right;
    margin-left: 20px;
    line-height: 50px;
  
}

#linkcenter {
    line-height: 50px;
    width: 80%;
    height: 50px;
    text-align: left;
    list-style-type: none;
    font-size: 16px;
    padding-left: 30px;
}

#linkleft ul li {
    margin-left: 70px;
    line-height: 40px;
}

#linkleft ul {
    list-style-type: none;
}

.text-with-icon b {
    color: #D41900;
}
/*--------------End Of Header---------------------*/
 











/*-----End Of Navigation----------------------*/
.carousel-caption{
    top: 35%;
}
#slider{
    margin-top: 50px;
}
/*-------End Of carousel---------------------*/

#about img 
{
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.about-content
{
    padding-top: 40px;
    padding-left: 60px;
}
.right{
    position: absolute;
    box-shadow: 0 0 25px 25px rgba(0,0,0,0.3);
    background-color: #fff;
    width: 50%;
    height: 500px;
   margin-right: 30px;
    padding-right: 30px;
    margin-top: 110px;
    margin-left: 500px;
    z-index: 1;
}

#appointment{
    margin-left: 500px;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}









/*-------End OF About Rk Dental----------------*/
#services
{
    padding-top: 50px;
    margin-top: 10px;
    padding-bottom: 5px;
    height: 500px;
    margin-bottom: -20px;
}
#services .row
{
    margin-top: 30px;
    height: 300px;
    
}


/*--------End Of Our Services-----------------------*/



.wrapper{
    margin-top: -40px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 450px;
    overflow:hidden;
   
        }
.wrapper .title{
    text-align: center;
    margin-top: 0px;
}
.item{
    height: 300px;
    margin-top: 10px;
}

/*.owl-dots{
    display: none;
}*/
.wrapper h2{
    margin-top: 30px;
}
/*--------End Of Our Sucess Stories-----------*/

.demo{
    font-family: tahoma;
    background-image: url(img/video-bg-1.jpg)
}
.testimonial{
    background: #fff;
    text-align: center;
    padding: 30px 30px 50px;
    margin: 0 15px 100px;
    position: relative;
    margin-top: 20px;
    height: 500px;
    margin-bottom: 10px;
    
}
.testimonial:before,
.testimonial:after{
    content: "";
    border-top: 40px solid #fff;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}
.testimonial:after{
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}
.testimonial .icon{
    display: inline-block;
    font-size: 80px;
    color: #bd986b;
    margin-bottom: 20px;
    opacity: 0.6;
}
.testimonial .description{
    font-size: 16px;
    color: #777;
    text-align: justify;
    margin-bottom: 30px;
    opacity: 0.9;
    letter-spacing: -1px;
}
.testimonial .testimonial-content{
    width: 100%;
    position: absolute;
    left: 0;
}
.testimonial .pic{
    display: inline-block;
    border: 6px solid white;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #daad86;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    
}
.testimonial .title{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #ff0000;
}
/*---End of Testimonial---------------*/
.owl-theme .owl-controls{
    margin-top: 60px;
}
.owl-theme .owl-controls .owl-page span{
    width: 32px;
    height: 10px;
    background: #fff;
    border: 2px solid #bd986b;
    margin: 5px;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #ffd9b8;
    border-color: #fff;
}
    .pic img{
        width: 100px !important;
        height: 30px;
    }
/*---End of Our Partners---------------*/

#test
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/promo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    color: #fff;
    background-attachment:fixed;
   
   
}

#test .email b{
    color: #fff;
}
#test .linkleft .font{
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 20px;
}
/*-------End of Contact Us----------*/

#map{
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}
/*----End Of Map----------*/
#footer{
    width: 100%;
    height: 20px;
    background: #000;
    
}
#footer h4 {
    text-align: center;
    font-size: 10px;
    color: #fff;
    line-height: 10px;
}













/*---Start Of Media-------*/
@media screen and (max-width: 1000px) {
    body{ width:100%;
    margin-left:-5px;
    }
}
@media screen and (max-width: 600px) {
    body[
    width:100%;
    margin-left:-5px;
    ]
.right,
    .1img img
    
    {
        max-width: 100%;
        float: none;
    }
    
    .container{
        width: 100%;
        
    }
}
@media (max-width: 700px){
    #slider{
        padding-left: 5px;
        padding-right: 5px;
    }
    #header {
    height: 190px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px;
    margin-top: 5px;
    width: 96%;    
    }
    #linkcenter .fa fa-envelope{
        padding-left: 25px;
    }
    .4r profile,
    .5r profile,
    .6r profile,
    .7r profile,
    .8r profile,
    .9r profile{
        margin-top: 0px;
    }
    #linkcenter{
        float: none;
        width: 100%;
    }
    
    

    
}






/*-----End Of Media--------------*/



.modal {
  display: none; /* Hidden by default */
  position:fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
    
  width: 400px; /* Full width */
  height: 400px; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
margin-left: 5px;
    margin-right: 25px;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
     overflow: hidden;
}
.modal-content {
    
}

    
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.modal-header h2{
    float: left;
}
/*--------------------------End Of Modal-----------------*/

#maindiv{
    width: 200px;
    height: 200px;
    margin-top:  100px;
    margin-bottom: 5px;
    margin-left: 300px;
    margin-right: 100px;
    perspective: 800px;
    
}
#boxdiv{
    width: 200px;
    transform-style: preserve-3d;
    animation: rotate 15s linear infinite;
}
#boxdiv div{
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.8;
    color: white;
    font: 80px impact;
    text-align: center;
}
#front{
    transform: translateZ(100px);
    background: black;
}
#back{
    transform: rotateY(180deg) translateZ(100px);
    background: #101010;
}
#left{
    transform: rotateY(-90deg) translateX(-100px);
    transform-origin: left;
    background: black;
}
#right{
    transform: rotateY(90deg) translateX(100px);
    transform-origin: right;
    background: #101010;
}
#top{
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top;
    background: black;
}
#bottom{
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom;
    background: #101010;
}
@keyframes rotate{
    0% { transform: rotateY(0);}
    100% { transform: rotateY(360deg);}
}

















